<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistiques par Département</title>
</head>
<body>
<h1>Statistiques par Département</h1>
<table border="1">
    <thead>
    <tr>
        <th>Département</th>
        <th>Nombre de Congés</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${stats}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/conges}">Retour à la liste</a>
</body>
</html>